<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row" style="float: right;">
      <%= "#{current_user.name}- #{current_user.user_type}" if user_signed_in? %>
    </div>
    <br>
    <div class="row" style="float: right;">
      <%= button_to "logout", destroy_user_session_path, method: :delete if user_signed_in? %>
    </div>
    


    <% if params[:controller] != "devise/sessions" %>
      <ul>
        <li><a href="/search">Search Orders</a></li>
        <% if current_user.user_type == "admin" %>
          <li><a href="/parcels">Parcels</a></li>
          <li><a href="/users">Manage Users</a></li>
          <li><a href="/service_types">Service Types</a></li>
        <% end %>
      </ul>
    <% end %>


    <%= yield %>
  </body>
</html>
